"Student Form"
<%= form_tag students_path do %>
<label>First Name:</label><br>
<%= text_field_tag name="student[first_name]" %><br>
<label>Last Name:</label><br>
<%= text_field_tag name="student[last_name]"  %><br>
<%= submit_tag "Submit Student" %>
<% end %>

where should the action be going? to new, or to create?
whats the point of having both if only one was used in the readme?
readme says to create student in #create but the form is redirecting
to #new, i used new_student_path and students_path
